.bg-Purple {
    background-color: #6d28d9;

}

.bg-Purple a {
    color: #efe3e3;
}

.bg-Purple p {
    color: #efe3e3;
}

body {
    height: 100%;
    background-color: #e9ecef;
}

html {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}
