.bg-Purple {
    background-color: #6d28d9;

}

.bg-Purple a {
    color: #efe3e3;
}

.bg-Purple p {
    color: #efe3e3;
}

body {
    height: 100%;
    background-color: #e9ecef;
}

html {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}
/* Login input fields */
input[type="text"],
input[type="password"] {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #6f2dbd;   /* purple border */
    padding: 8px 12px;
    font-size: 16px;
}

/* On focus (when clicked) */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #4b0082;
    box-shadow: 0 0 6px rgba(111, 45, 189, 0.6);
}

/* Placeholder color */
input::placeholder {
    color: #999;
}
